*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    --height: 200vh;

}

body {
    display: grid;
    background-color: white;

    font-family: "Poppins", sans-serif;
    font-weight: 500;
}

.navbar {
    background-color: white;
    width: 100%;
    height: 6vw;
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.x3 {
    width: 20%;
    height: 100%;

}

.left {
    display: flex;
    justify-content: center;
    align-items: center;
}

.left a {
    width: 100%;
    height: 50%;
    margin-left: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left a img {
    width: 100%;
}

.middle {
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 0vh 1vh;
    gap: 2vh;
}

.middle li a {
    text-decoration: none;
    font-size: 1.5vw;
    font-weight: 300;
    color: black;
}

.middle li a:hover {
    animation: lists .2s linear forwards;
}

.middle li {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right {
    margin: 0vh 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vh;
}

.btn2 {
    background-color: #4CAF4F;
    border: .2vw solid #4CAF4F;
    color: #F5F7FA;
    width: 18vw;
    height: 4vw;
    border-radius: .8vw;
    font-size: 1.4vw;
    font-family: "Poppins", sans-serif;
    font-weight: 360;
    cursor: pointer;
}

.min {
    background-color: blue;
    width: 4vw;
    height: 4vw;
    display: none;
}

@keyframes lists {
    0% {
        color: rgb(0, 0, 0);
    }

    100% {
        color: rgba(0, 0, 0, .2);
    }
}


@media (min-width: 0px) and (max-width: 700px) {
    .navbar {
        justify-content: space-between;
        height: 10vh;
        gap: 10px;

    }

    .left {
        width: 50vw;
        justify-content: start;
    }

    .left a {
        width: 50%;
        margin-left: 2vh;
    }

    .right {
        display: none;
        visibility: hidden;
    }

    .middle {
        display: none;
        visibility: hidden;
    }

    .min {
        display: block;
        float: right;
        margin-right: 2vh;
        width: 8vw;
        height: 8vw;
    }
}

@media (min-width: 1000px) and (max-width: 2000px) {
    .navbar {
        height: 5vw;
    }

    .left img {
        width: 70%;
    }

    .x4 {
        width: 5vw;
        height: 3vw;
        font-size: 1vw;
    }

}


.content {
    background-color: black;
    width: 100%;
    height: var(--height);
    display: grid;
    grid-template-columns: 1fr minmax(1200px, 5fr) 1fr;
    grid-template-rows: var(--height);
}

.mainCont {
    background-color: #333;
    grid-column: 2/3;
    grid-row: 1/3;
}