*,
*::before,
*::after {
  padding: 0;
  margin: 0;
}

body {
  display: grid;
  grid-template-columns: 1fr minmax(1100px, 5fr) 1fr;
  grid-template-rows: 10vh 1500vh 30vh;
  font-family: "Poppins", sans-serif;
}

.nav {
  position: fixed;
  width: 100%;
  height: 10vh;

  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-around;
  gap: 1vh;
  background-color: white;
  margin: 0 auto;
}

.x1 {
  width: 25%;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.lef {
  display: flex;
  align-items: center;
  justify-content: center;
}

.lef a {
  width: 100%;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lef a img {
  width: 60%;
}

.mid {
  width: 50%;
  flex-grow: 1;
}

.mid-ul {
  width: 100%;
  height: 10vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
  gap: 2vh;
}

.mid-ul li {
  list-style: none;
}

.mid-ul a {
  text-decoration: none;
  color: black;
  font-size: 1.7vh;
}

.minu {
  width: 8vh;
  height: 8vh;
  margin: 0vh 2vh;
  display: none;
}

.mm {
  width: 7vh;
  height: 7vh;
  background-color: #cccccc;
  border-radius: 1vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1.2vh;
  cursor: pointer;
}

.mm:hover {
  background-color: rgb(231, 231, 231);
}

.x2 {
  width: 5.5vh;
  height: .7vh;
  border-radius: 10vh;
  background-color: white;
}

.rig a {
  width: 18vh;
  height: 5vh;
  background-color: #00c006;
  border-style: none;
  border-radius: 1vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.7vh;
}

.rig a:hover {
  animation: button-ani .2s linear forwards;
}

@keyframes button-ani {
  0% {
    box-shadow: 0px 0px 0vh white;
    background-color: #00c006;
  }

  100% {
    box-shadow: .6vh .6vh .3vh #00c006;
    background-color: white;
    color: #00c006;
  }
}

.mid-ul li a {
  color: black;
}

.mid-ul li a:hover {
  animation: list-style .1s linear forwards;

}

@keyframes list-style {
  from {
    color: black;
  }

  to {
    color: rgba(0, 0, 0, .4);
  }
}

.container {
  background-color: rgb(121, 121, 243);
  grid-column: 2/3;
  grid-row: 2/3;
  overflow: hidden;



}


.B1 {
  width: 100%;
  height: auto;
  background-color: #707070;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.B1-left,
.B1-right {
  width: 40vw;
  height: 40vw;
}

.B1-right {
  display: flex;
  align-items: center;
  justify-content: center;
}

.B1-right img {
  width: 70%;
}

.B1-left {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 0 3vw;
}

.B1-left h1 {
  font-size: 2.5vw;
  color: #333;
}

.B1-left h1 span {
  color: #00c006;
}

.B1-left p {
  font-size: 1vw;
  padding: 3vh 0vh;
}

.B1-left a {
  width: 10vw;
  height: 5vh;
  background-color: #00c006;
  border-style: none;
  border-radius: 1vh;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1.4vw;
}

.B1-left a:hover {
  animation: button-ani .2s linear forwards;
}


.B2 {
  width: 100%;
  margin: 3vw 0vw;
  height: auto;
  background-color: #949494;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.B2 h1,
.B2 p {
  padding: 3vw 0vh;
  text-align: center;
}

.B2 h1 {
  font-size: 2.8vw;

}

.B2 p {
  font-size: 1vw;
}


.B3 {
  width: 100%;
  height: 20vh;
  margin: 0vw 0vw 3vw 0vw;
  background-color: #949494;

  display: grid;
  grid-template-columns: repeat(9, 1fr);
  grid-template-rows: 1fr;

  align-items: center;
  justify-items: center;

  gap: 5vw;
}

.A {
  width: 100%;
  height: 40%;


  display: flex;
  align-items: center;
  justify-content: center;
}

.A img {
  width: 90%;
}


.B4 {
  width: 100%;
  height: 35vh;
  margin: 0vw 0vw 3vw 0vw;
  background-color: #949494;

  display: grid;
  grid-template-columns: 1fr repeat(3, 3fr) 1fr;
  grid-template-rows: 1fr;

  align-items: center;
  justify-items: center;

  gap: 3vw;
}

.A1 {
  background-color: red;
  width: 100%;
  height: 100%;
}

.A1-1 {
  background-color: pink;
  width: 100%;
  height: 100%;
}

.A1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.A1 img{
  width: 4vw;
}

.A1 h1 {
  width: 100%;
  text-align: center;
  font-size: 1.4vw;
}

.A1 p {
  width: 100%;
  padding: 2vw 0vw;
  background-color: blue;
  text-align: center;
  font-size: .8vw;
}








.footer {
  background-color: #333;
  grid-column: 1/-1;
  grid-row: 3/4;
}


















/* 1. Phones: Width up to 767px, Height up to 800px */
@media (max-width: 767px) and (max-height: 800px) {
  body {
    background-color: lightblue;
    height: 100vh;
  }

  .container {
    background-color: lightblue;
    grid-column: -1/1;
    grid-row: 2/3;
  }

  .nav {
    justify-content: start;
    width: 100vw;

  }

  .mid,
  .rig {
    display: none;
    visibility: hidden;
  }

  .lef {
    width: 30%;
  }

  .minu {
    display: block;
    flex-grow: 1;
    width: 10%;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 4vh;
  }

  .B1 {
    width: 100vw;
    height: auto;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .B1-left,
  .B1-right {
    width: 100%;
    height: 45%;
  }

  .B1-left {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7vh 0vh;
  }

  .B1-left h1 {
    font-size: 5vw;
    text-align: center;
  }

  .B1-left p {
    font-size: 1.5vw;
  }

  .B1-right img {
    width: 60%;
  }

  .B2 {
    width: 100vw;
    margin: 5vw 0vw;
  }

  .B2 h1,
  .B2 p {
    padding: 6vw 0vw;
  }

  .B2 h1 {
    font-size: 7vw;
  }

  .B2 p {
    font-size: 3vw;
  }

  .B3 {
    width: 100vw;
  }

    .B4{
    width: 100vw;
  }
  .A1 h1{
    font-size: 3vw;
  }
  .A1 img{
    width: 5vw;
  }
  .A1 p{
font-size: 1.7vw;
  }
}

/* 2. Pads / Tablets: Width 768px–1024px, Height up to 1000px */
@media (min-width: 768px) and (max-width: 1024px) and (max-height: 1000px) {
  body {
    background-color: lightgreen;
    height: 100vh;
  }

  .nav {
    width: 100vw;
  }

  .container {
    background-color: lightgreen;
    grid-column: -1/1;
    grid-row: 2/3;
  }

  .B1 {
    width: 100vw;
    margin: 5vh 0vh;
    align-items: center;
  }

  .B2 {
    width: 100vw;
  }

  .B3 {
    width: 100vw;
  }

  .B4{
    width: 100vw;
  }
}

/* 3. Monitors: Width 1025px+, Height more than 1000px */
@media (min-width: 1000px) and (min-height: 1000px) {
  body {
    background-color: lightcoral;
    height: 100vh;
  }

  .x1 a img {
    width: 50%;
  }

}